body {
    margin: 0px;
}



.header {
    float: right;
    top: 0px;
    padding-top: 15px;
    padding-right: 20px;
}

.header a {
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    padding-right: 10px;
}

.header input {
    background-color: #4285f4;
    border: 1px solid #4285f4;
    color: white;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    padding: 7px;
    border-radius: 2px;
}


#rheader {
    float: right;
}

.google {
    height: 92px;
    width: 272px;
    padding-top: 200px;
}

.btn {
    padding-top: 15px;
}

.btn input {

    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,
        sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    opacity: 0.8;
    transition: 0.1s;
}

.btn input:hover {
    opacity: 1;
}


#search {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    width: 500px;
}

#mid {

    font-size: small;
    font-family: arial, sans-serif;
    padding-top: 15px;
}

.mada {

    color: rgba(0, 0, 0, .54);
    padding-left: 20px;
    border-bottom: 1px solid #e4e4e4;

}

a {
    text-decoration: none;
    font-family: arial,
        sans-serif;
    font-size: smaller;
}

.footer {
    border-top: 1px solid #e4e4e4;
    background: #f2f2f2;
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}



.footer a {
    color: #5f6368;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
}

#rfoot {
    float: right;
}